{% extends "base.html" %}

{% block title %}Restricted Navigation{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-danger" >
        <h4 style="color: #FFFFFF;">Navigation Error! You cannot use the browser's back and forward buttons.</h4>
    <h5 style="color: #FFFFFF;">You will be logged out and redirected to the home page in a few seconds.</h5>
</div>

<script>
    setTimeout(function() {
        window.location.replace('{{ url_for('main.logout') }}');
    }, 5000);  // 5000 milliseconds (5 seconds)
</script>
{% endblock %}