{% extends "base.html" %}

{% block title %}Blackjack Game{% endblock %}

{% block content %}

<!-- <div class="container mt-5">
<br><br>
<h2 style="color:#c3cdd9;">Registered players</h2>
    <form method="post" action="{{ url_for('main.select_user') }}" class="mt-3">
        {{ form.hidden_tag() }}
        <div class="form-group" style="width: 300px; padding-top: 0px; padding-bottom: 5px"> 
            {{ form.user_id(class="form-control") }}
            {% for error in form.user_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </form> -->

{% endblock %}