{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block content %}

<style>
    body {
        background-size: cover; /* Подгоняет изображение под размер экрана */
        background-position: center; /* Центрирует изображение */
        background-repeat: no-repeat; /* Не повторяет изображение */
        color: #ffffff; /* Цвет текста по умолчанию */
		font-family: Spoof, sans-serif
    }

    .container {
        background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон для читаемости текста */
        padding: 5px;
        border-radius: 10px; /* Закругление углов контейнера */
    }
</style>


<h3 style="font-weight: bold;">Leadership board</h3>
<table class="table table-striped" style="color:#FFFFFF">
    <thead>
        <tr>
            <th>Nickname</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users_paginated %}
        <tr>
            <td>{{ user.nickname }}</td>
            <td>{{ user.balance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-between">
    {% if prev_url %}
    <a class="btn btn-primary" href="{{ prev_url }}">Previous</a>
    {% else %}
    <button class="btn btn-primary" disabled>Previous</button>
    {% endif %}

    {% if next_url %}
    <a class="btn btn-primary" href="{{ next_url }}">Next</a>
    {% else %}
    <button class="btn btn-primary" disabled>Next</button>
    {% endif %}
</div>
{% endblock %}