{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
<h3 style="color:#c3cdd9; font-weight: bold;">Leaderboard</h3>
<table class="table table-striped" style="color:#c3cdd9">
    <thead>
        <tr>
            <th>Nickname</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users_paginated %}
        <tr>
            <td>{{ user.nickname }}</td>
            <td>{{ user.balance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-between">
    {% if prev_url %}
    <a class="btn btn-primary" href="{{ prev_url }}">Previous</a>
    {% else %}
    <button class="btn btn-primary" disabled>Previous</button>
    {% endif %}

    {% if next_url %}
    <a class="btn btn-primary" href="{{ next_url }}">Next</a>
    {% else %}
    <button class="btn btn-primary" disabled>Next</button>
    {% endif %}
</div>
{% endblock %}